body {
  font-family: 'Avenir Next' !important;
  display: inherit;
}
h1 {
  font-size: 50px !important;
  font-weight: 500 !important;
  letter-spacing: 0.6px !important;
}
h2 {
  font-size: 32px !important;
  font-weight: 600 !important;
  color: #e43c4b !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #272727 !important;
  letter-spacing: 0.3px !important;
}

h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: 0.2px !important;
  color: #272727 !important;
}

h5 {
  font-size: 18px !important;
  color: #413d3d !important;
  text-align: center !important;
  letter-spacing: 0.2px !important;
}

p {
  letter-spacing: 0.2px !important;
  color: darkslateblue;
  font-size: 16px !important;
}

.fixed.atop {
  background: inherit !important;
  position: absolute !important;
  top: 5px !important;
}

.cover {
  background-size: cover !important;
  background-position: top;
}

a {
  cursor: pointer !important;
}

a.large {
  color: white;
  font-size: 24px;
}
a:hover {
  color: white !important;
}

.fullwidth {
  width: 100vw !important;
}

.table {
  display: table !important;
}

.v-align {
  display: table-cell !important;
  vertical-align: middle !important;
}

.card.all {
  width: 25% !important;
  background: inherit !important;
  border: 0px solid !important;
  box-shadow: 0px 0px 0px 0px !important;
}

.card.all input {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 50px !important;
  color: white !important;
  height: 40px !important;
}

.card.all button {
  width: 100% !important;
  border-radius: 50px !important;
  background-color: #e43c4b !important;
  height: 40px !important;
}

.card.all i {
  color: white !important;
  font-size: 18px !important;
}

.icon i {
  max-width: 20px !important;
  color: white !important;
  align-self: center !important;
  top: 10px !important;
  left: 10px !important;
  background-size: 20px !important;
  background-repeat: no-repeat;
}

.icon i::after {
  color: white !important;
}

.icon.user i {
  background-image: url('/icons/ic-username.png') !important;
}
.icon.password i {
  background-image: url('/icons/ic-password.png') !important;
}
.icon.email i {
  background-image: url('/icons/ic-email.png') !important;
}
.center {
  text-align: center !important;
}

.fullscreen {
  width: 100vw !important;
  height: 102vh !important;
}

.white {
  color: white !important;
}

.float.left {
  float: left !important;
}
.float.right {
  float: right !important;
}

.m-10 {
  margin: 5em !important;
}

.p-10 {
  padding: 10px !important;
}

.line-2 * {
  line-height: 2.5 !important;
}

.caption {
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #7c7c7c !important;
  text-align: center;
  letter-spacing: 0.2px !important;
}

.text-left {
  text-align: left !important;
}

.light-sage {
  background-color: #f1faef;
}
.ui.image {
  max-width: 100vw !important;
}
.padding.all.large {
  padding: 10em !important;
}
.padding.all.medium {
  padding: 5em !important;
}
.padding.all.small {
  padding: 2em !important;
}
.padding.side.small {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.margin.all.small {
  margin: 20px !important;
}
.dropshadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
.capitalize {
  text-transform: capitalize !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.subscribe-button {
  display: inline-flex !important;
  align-self: center !important;
}

.subscribe-button button {
  background-color: #1e3656 !important;
  color: white !important;
  left: -25px !important;
  position: relative !important;
  /*padding-left: 45px !important;*/
  width: 150px !important;
  height: 50px !important;
  border-radius: 50px !important;
}
.subscribe-button input {
  height: 50px !important;
  width: 300px !important;
}

footer {
  background-color: #1e3656;
  color: white;
  text-align: center;
}
